body {
  overflow: hidden;
  margin: 0;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#asteroide {
  position: absolute;
  top: 10vh;
  left: 2vw;
  z-index: 2;
  width: 7%;
  animation: 7s linear 1s infinite running asteroide;
}

#rocket {
  position: absolute;
  top: 60vh;
  right: 50vw;
  z-index: 2;
  width: 5%;
}

iframe {
  pointer-events: none;
  width: 100%;
  height: 100%; 
}

@keyframes asteroide { 0% { top: 10vh; left: 2vw;} 50% { top: 15vh; left: 50vw;} 100% {top: 50vh; left: 80vw;}}
@keyframes rocket { 0% { top: 60vh; right: 50vw;} }


#rocket {
    transition: transform 330ms ease-in-out;
  }
